PyJWT==2.13.0
PyMySQL==1.1.1
SQLAlchemy==2.0.43
argon2-cffi==25.1.0
bcrypt==4.3.0
fastapi==0.116.1
httpx==0.28.1
pydantic==2.11.7
python-dotenv==1.1.1
python-multipart==0.0.20
redis==8.1.0
uvicorn[standard]==0.35.0
vercel==0.10.0
certifi
pillow